* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    text-align: center;
    color: black;
}

.wrap{
    width: 100%;
}

.container{
    width: 1100px;

    margin: 0 auto;
    position: relative;
}


.gnb_wrap{
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
}


/***** header section *****/

.logo a{
    background: url(
        https://www.starbucks.co.kr/common/img/common/logo.png
    ) no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -20000px;
    width: 100%;
    height: 100%;
}

.logo{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 22px;
    z-index: 12;
}

.gnb_wrap{
    background: #f6f5ef;

}

.search_btn{
    float: right;
    margin:1.5% 5% 0 0 ;
}

.util_nav > ul{
    display: flex;
    position: absolute;
    left: 52%;
  
}


.util_nav > ul > li > a{
    padding: 16px 12px;
    display: block;
    font-size: 13px;
}

.gnb_nav > div > ul {
    display: flex;
    float: right;
    text-align: center;
    margin-right: 20.5%;
}

.body_wrap{
    padding-top: 120px;
}

.gnb_nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 11;
    text-align: center;
    height: 66px;
    border-bottom:1px solid #e5e5e5;
    border-spacing: 0;
}



.gnb_nav > div > ul > li {
    float: right;
}

.gnb_nav_con{width: 100%;}

.gnb_nav_con > ul > li > h2 > a{
    padding: 6px 12px 0 12px;
    display: block;
    font-size: 15px;
    font-weight: 500;
    height: 68px;
    line-height: 32px;
    
}

.gnb_nav_con > ul > li {
    display: inline-block;
}

.gnb_nav_con {
    height: 120px;
}

.gnb_con{
    height: 123px;
}


.gnb_sub_wrap{
    position: absolute;
    right: 0;
    width: 100%;
    top: 56%;
}

.gnb_sub{
    width: 100%;
}

.gnb_sub_txbg_con{
    display: flex;
}

.gnb_sub_txbg,
.gnb_sub {
   
}

.gnb_sub_wrap{
    display: none;
}

.sub_on{
    display: block !important;
    z-index: 99999;
}

.gnb_sub_txbg{
   
    width: 100%px;

    background: url(
        https://www.starbucks.co.kr/common/img/common/gnb_sub_txbg.jpg
    );
    padding: 10px 0 20px;
}



.gnb_sub_tx a{
    color: #999;
    font-size: 14px;
    text-align: left;
}

.gnb_sub_tx h3{
    margin-top: 8px;
    text-align: left;
}

.gnb_sub_tx p{
    color: #669900;
    margin-top: 4px;
    font-size: 13px;
}

.gnb_sub{
    width: 100%;
    background: #2C2A29;
    padding: 20px 0;
   
}

.gnb_sub_tit > a{
    font-size: 16px;
    font-weight: bold;
    color: white !important;
}

.sub_tit_con{
    height: 120px;
}

.gnb_sub_con {
    display: flex;
}

.gnb_sub_con ul a{
    padding: 6px 12px;
    display: block;
    font-size: 12px;
    color: #999;
}

.gnb_sub_con{
    position: relative;
}


/**** sub_title section *****/

.smap{
    position: absolute;
    right: 0;
    top: 60px;
    display: flex;
    align-items:baseline;
    
}

.smap li {
    vertical-align: middle;
    margin-right: 5px;
   
}

.arrow{
    font-size: 20px;
    line-height: 20px;
    color: gray;
    
}


/***** slider section *****/


.main_visual_wrap{
    position: relative;
}

.main_slider{

    width: 100%;
 
    height: 400px;
   
}

.main_slider li{
  
    
    height: 400px;
}


.main_slider img{
    position: absolute;
    width: 100%;
    bottom: 0;
    object-fit: cover;
   
}


.main_slider > li:last-child > img{
    opacity: 0;
}


.opacityOn{
    animation: opac 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes opac{
    from{
        opacity: 0;
    }to {
        opacity: 1;
    }
}

.opacityOff{
    animation: opac2 1s;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes opac2 {
    from{
        opacity: 1;
    }to {
        opacity: 0;
    }
}

.pause{
    background: url(
        https://www.starbucks.co.kr/common/img/coffee/icon/pause.png
    )0 0;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 10px;
}

.pauseStart{
    background: url(
        https://www.starbucks.co.kr/common/img/coffee/icon/play.png
    ) ;
}

.slider_control{
    position: absolute;
    z-index: 10;
    text-align: center;
    display: block;
    width: 100%;
    bottom: 5%;
    
}

.slider_control_wrap{
    display: inline-flex;
    align-items: center;
    height: 15px;
}

.slide_page0{
    background: url(
        https://www.starbucks.co.kr/common/img/coffee/icon/visual_on.png
    ) 0 0;
    height: 15px;
    width:15px;
    display: inline-block;
    margin-right: 10px;
}

.slide_page1{
    background: url(
        https://www.starbucks.co.kr/common/img/coffee/icon/visual_off.png
    ) 0 0;
    height: 15px;
    width:15px;
    display: inline-block;
    margin-right: 10px;
}

.start{
    background: url(
        https://www.starbucks.co.kr/common/img/coffee/icon/play.png
    ) 0 0 ;

    height: 15px;
    width:15px;
    display: none;
    margin-right: 10px;
    
}

.gnb_sub_con a:hover {
    text-decoration: underline;
}


/***** layer floating *****/

.layer_floating{
    background: transparent;
    position: fixed;
    z-index: 9999;
    right: 10%;
    top: 25%;
   
}

/********** blooming *************/
.blooming_con a:hover{
    background: #935649;
    color: #fff;
    transition: 0.5s;
    border-color: #935649;
}
.blooming_wrap{
    background: url(
        https://image.istarbucks.co.kr/upload/common/img/main/2021/2021_cherryblossom_bg.jpg
    )no-repeat;
    background-size: cover;
    background-position: center;
    height: 646px;
}

.blooming_con{
    padding-top: 59px;
    height: 120px;
    position: relative;
}

.blooming_con > a{
    width: 125px;
    height: 38px;
    line-height: 34px;
    border: 2px solid white;
    border-radius: 6px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: 183%;
    left: 11%;

}


.cherry_blossom{
    position:absolute;
    top: 190%;
    left: 29%;
}

.cherry_blossom > img{
    position: absolute;
    top: 50%;
    right: 80%;
}

.midnight_bergamot{
    position: absolute;
    left: 55%;
}

.midnight_bergamot > img{
    position: absolute;
    top: -30%;
    left: 3%;
}

.strawberry_delight{
    position: absolute;
    left: 76%;
    top: 210%;
}

.strawberry_delight > img{
    position: absolute;
    top: -30%;
}

.line_notice_wrap{
    width: 100%;
    position: relative;
}

.line_notice_left,
.line_notice_right{
    height: 62px;
    width: 50%;
}

.line_notice_left{
    background: black;
    position: absolute;
  
}

.line_notice_right{
    background: #f6f5ef;
    position: relative;
    float: right;
}


.line_notice_conl,
.line_notice_conr{
    height: 62px;
}

.line_notice_conl{
    width: 730px;
    background: black;
    position: absolute;
}

.line_notice_conr{
    width: 550px;
    position:absolute;
    right: 0;
    background: #f6f5ef;
}

.line_notice_con{
    width: 1280px;
    height: 100%;
}

.line_notice_dl{
    margin: 10px 0 0 80px;
    display: flex;
    align-items: center;
    
}

.notice_title
{
    display: inline-block;

}
.line_notice_dl dd{
    display: block;
    width: 520px;
    text-indent: 15px;
}

.line_notice_news a{
    color: white;
    display: none;
    text-align:left;
}

.line_notice_news{
    width: 100%;
}

.news_on{
    display: block !important;
}

.notice_title img{
    display: block;
}
.line_notice_plus{
    display: inline-block;
}


.line_notice_conr > a{
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.line_notice_conr{
    display: flex;
    align-items: center;
    justify-content: center;
}

/**************** prom section ************/

.notice_prom{
    margin-right: 70px;
}

.notice_prom_up{
    display: none;
}

.main_prom_slider{
    display: flex;
}

.main_prom_slider>li{
    margin-right: 10px;
    position: relative;
    right: 829px;
    opacity: 0.4;
}

#opac4{
    opacity: 0.4 !important;
}

.main_prom_slider>li:nth-child(2){
    opacity: 1;
    
}

#opac1{
    animation-fill-mode: forwards;
    animation: opacity 1s;
    opacity: 1;
  
}
@keyframes opacity{
    from{
        right: 1658px;
   
    }to{
        right: 829px;
     
    }
}



.main_prom_slider ul:last-child>li{
    display: none;
}

.main_prom_banner{
    background: #f6f5ef;
   
    overflow: hidden;
    width: 100%;
    height: 0;
}

.banner_up{
    height: 0;
    display: block;
    animation: banner_up 1s;
    animation-fill-mode: forwards;
}

@keyframes banner_up{
    from{
        height: 720px;
        padding: 100px 0 60px;
    }to{
        height: 0px;
        padding: 0 0;
        
    }
}

.banner_down{
    height: 720px;
    display: block;
    animation: banner_down 1s;
    animation-fill-mode: forwards;
    padding: 100px 0 60px;
    
}

@keyframes banner_down{
    to{
        height: 720px;
        padding: 100px 0 60px;
    }from{
        height: 0px;
        padding: 0 0;
    }
}


.main_prom_viewpoint{
    width: 819px;
    height: 560px;
    overflow: visible;
    margin: 0 auto;
    position: relative;

}

.prom_slider{
    animation: prom_slider 1s;
    animation-fill-mode: forwards;
    right: 829px;
} 

@keyframes prom_slider{
    from{
        right: 829px;
        
    }to{
        right: 1658px;
        
    }
}

.prom_reverse{
    animation: prom_reverse 1s;
    animation-fill-mode: forwards;
    right: 829px;
} 

@keyframes prom_reverse{
    from{
        right: 1658px;
    }to{
        right: 829px;
    }
}


.swipe_left{
    background: url(
        https://www.starbucks.co.kr/common/img/common/arrow_left_on.png
    ) no-repeat center center transparent;
    border: 2px solid #222;
    border-radius: 27.5px;
    width: 55px;
    height: 55px;
    display: inline-block;
}

.swipe_left:hover,
.swipe_right:hover{
    background-color: rgba(255, 255, 255, 0.9);
    
}

.swipe_right{
    background: url(
        https://www.starbucks.co.kr/common/img/common/arrow_right_on.png
    ) no-repeat center center transparent;
    border: 2px solid #222;
    border-radius: 27.5px;
    width: 55px;
    height: 55px;
  
}

.prom_control{
    display: inline-block;
    height: 100%;
}

.prom_control_left,
.prom_control_right{
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
}

.prom_control_right{
    right: -10%;
}

.prom_control_left{
    left: -10%;
}

.main_prom_slider li > a{
    width: 121px;
    height: 34px;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    bottom: 5%;
    border: 2px solid black;
    border-radius: 2px;
    display: inline-block;
}

.main_prom_slider{
  
    text-align: center;
}


/****** rewards *********/

.new_rewards_wrap{
    background: #1e3932;
    padding: 30px 0 40px;
}

.rewards_logo{
    width: 16.3%;
}

.rewards_content{
    display: inline-block;
}

.new_rewards_con{
    height: 100%;
    color: white;
}

.mobile_br{
    display: none;
}

/************** main bean section **********/

.main_bean_wrap{
    padding-top: 40px;
    height: 573px;
    background: url(
        https://image.istarbucks.co.kr/upload/common/img/main/2021/2021_cherryblossom_bean_bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.main_bean_con{
    position: relative;
}

.bean_img_box,
.bean_txt_box{
    display: inline-block;
 

}

.bean_img_box,
.bean_txt_box{
    position: absolute;
}

.bean_txt_box{
    right: -13%;
    margin-top: 140px;
   
}

.txt_box_slide{
    animation: txt_box 1s;
    animation-fill-mode: forwards;
}

@keyframes txt_box{
    from{
        right: -13%;
        
    }to{
        right: 17%;
    }
}

.bean_img_box{
    top: 50%;
    left: -26%;
 
}

.img_box_slide{
    animation: img_box 1s;
    animation-fill-mode: forwards;
    
}

@keyframes img_box{
    from{
        left: -26%;
    }to{
        left: 6%;
    }
}

.bean_txt_box a{
    width: 125px;
    height: 38px;
    line-height: 34px;
    font-size: 14px;
    z-index: 6;
    display: block;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.bean_txt_box a:hover{
    background: black;
    color: white;
    transition: 0.5s;
}

.info_content_txt{
    margin-bottom: 10px;
   
    width: 100%;
}

.info_content_txt p {
    display: inline-block;
}


.sign_in{
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 17.5%;
}



.join_btn{
    display: inline-block;
    background: #00704a;
    border: 2px solid #00704a;
    height: 38px;
    line-height: 36px;
    padding: 0 18.5px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login_btn{
    display: inline-block;
   
    border: 2px solid white;
    height: 38px;
    line-height: 36px;
    padding: 0 18.5px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.info_content_txt h2{
    font-weight: normal;
}

.rewards_logo{
    position: absolute;
    left: 4%;
    top: 0;
}

.rewards_content{
    width: 75%;
    position: relative;
    right: -16%;
}

.info_content{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    left: 10%;
    border-bottom: 1px solid #4b615b;;
}

.gift_content{
    position: relative;
    display: flex;
}

.gift_content p{
    left: 10%;
    position: relative;
    font-size: 14px;
    vertical-align: baseline;
}



.gift_content a{
    position: relative;
    top: 0;
    right: -15%;
    display: inline-block;
    border-radius: 5px;
    width: 183px;
    height: 38px;
    line-height: 36px;
    font-size: 14px;
    color: white;
    border: 2px solid white;
}

/************** reserve section *************/

.reserve_wrap{
    background: url(
        'https://image.istarbucks.co.kr/upload/common/img/main/2021/reserve_sundried_brazil_bg2.jpg') 
        no-repeat center top;
    width: 100%;
    background-size: cover;
    position: relative;
    height: 400px;
}

.reserve_inner{
    background: url(
        https://image.istarbucks.co.kr/upload/common/img/main/2021/reserve_sundried_brazil_bean4_1.png
    )no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 400px;
    right: 0;
    width: 1814px;
    display: block;
  
}

.reserve_wrap:before{
    content: '';
    background: url(
        https://image.istarbucks.co.kr/upload/common/img/main/2021/reserve_sundried_brazil_bg_shape.png) 
        no-repeat left top;
    display: block;
    position: absolute;
    top: 47px;
    left: 0;
    width: 214px;
    height: 130px;
}

.reserve_content img{
    display: block;
    padding: 110px 0 20px 0;

}

.reserve_content{
    display: inline-block;
    max-width: 1080px;
    position: absolute;
    right: 50%;
    text-align: center;


}

.reserve_wrap a{
    margin-left: 130px;
    display: inline-block;
    border-radius: 5px;
    width: 125px;
    height: 38px;
    line-height: 34px;
    color: #815932;
    border: 2px solid #815932;;
}

/************** favWrap ***************/

.winter_fav_wrap{
    background: url(
        https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg
    ) no-repeat fixed;
    background-position: center;
    background-size: cover;
    height: 800px;

}

.fav_prod_txt1{
    text-align: right;
    height: 204px;
    margin-bottom: 40px;
}

.fav_prod_txt2{

    margin-bottom: 40px;
    height: 156px;
}


.winter_con{
    width: 1280px;
    height: 100% !important;
    padding: 120px 0 180px;
    position: relative;
    text-align: right;
}

.fav_prod{
    display: inline-block;
    text-align: right;
    position: absolute;
    left: -26%;
}

.fav_prod a{
    display: inline-block;
    color: white;
    font-size: 15px;
    width: 125px;
    height: 38px;
    line-height: 34px;
    border: 2px solid white;
    border-radius: 5px;
}

.fav_prod a:hover{
    background: white;
    color: black;
    transition: 0.5s;
}

/************ reverse3 wrap *************/
.reserve3_con{
    width: 1200px;
    padding: 90px 0;
    height: 700px !important;
    display: flex;
    align-items: center;
    position: relative;
}

.reserve_left{
    display: inline-block;
}

.reserve_left:before{
    content: "";
    position: absolute;
    top: 61.8%;
    left: 9.5%;
    width: 95.3%;
    height: 1px;
    background-color: #cccccb;
}

.reserve_left:after{
    content: "";
    position: absolute;
    top: 136px;
    left: 42%;
    width: 1px;
    height: 64%;
    background-color: #cccccb;
}

.reserve_left img{
    position: relative;
    z-index: 2;
}

.reserve_right{
    
    margin-left: 100px;
    display: inline-block;
}

.reserve_right img{
    position: relative;
    right: -70%;
    top: 40%;
}

.detail_btn a{
    position: relative;
    right: 2px;
    bottom: 3px;
    background:url(
        'https://image.istarbucks.co.kr/upload/common/img/main/2020/btn_magazine_pc.png'
        ) 5px 3px no-repeat;
        background-size: 300px 40px;
        width: 310px;
        height: 23px;
   
    background-repeat: no-repeat !important;
    display: block;
}

.detail_btn a:hover{
    transition: 0.4s;
    filter :brightness(0) invert(1);
}

.detail_btn:hover{
    background: sandybrown;
    transition: 0.5s;
}

.detail_btn{
    width: 320px;
    height: 36px;
    padding: 10px;
    text-indent: -9999px;
    border-radius: 3px;
    position: absolute;
    top: 65%;
    right: -74%;
}

.detail_btn a{
    text-align: center;
}

.reserve_img_slide{
    animation: reserve_img 1.2s;
    animation-fill-mode: forwards;
   
}

@keyframes reserve_img{
    from{
        right: -70%;
    }to{
        right:3%;
    
    }
}


.reserve_div_slide{
    animation: reserve_div 1.4s;
    animation-fill-mode: forwards;
   
}

@keyframes reserve_div{
    from{
        right: -60%;
    }to{
        right: 29%;
    
    }
}

/************ store section ***********/

.store_wrap{
    background: url(
        https://www.starbucks.co.kr/common/img/main/store_bg.jpg
    ) no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.store_con{
    height: 400px;
    position: relative;

}

.store_img{
    position: absolute;
}

.store_img4{
    right: -5%;
    bottom: 0;
}

.store_img3{
    right: 30%;
    top: -15%;
}

.store_img2{
    left: 26%;
    bottom: 5%;
}
.store_img1{
    left: 6%;
}

.store_right{
    display: inline-block;
    width: 385px;
    position: absolute;
    right: 5%;
    top: 30%;

}

.store_txt2{
    margin-top: 14px;
}
.store_txt_btn{
    margin-top: 20px;
    display: inline-block;
    border-radius: 3px;
    width: 125px;
    height: 38px;
    line-height: 34px;
    border: 2px solid #222;
}

.store_txt_btn:hover{
    color: #eee;
    background: black;
    transition:  0.5s;
}

/****** footer section ***********/

footer{
    padding-top: 30px;
    background: #2C2A29;
    position: relative;
}

.footer_con{
    height: 240px;
    background: url(
        https://www.starbucks.co.kr/common/img/footer/footer_logo.png
    ) right 8px no-repeat;
}

.footer_menu_wrap{
    display: flex;
}

.footer_menu li{
    width: 220px;
    text-align: left;
    height: 24px;
    line-height: 24px;
}
.footer_menu li a{
    color: white;
    font-size: 12px;
}

.footer_menu_tit{
    display: block;
    height: 40px !important;
}




.footer_menu_tit h4{
    font-size: 14px;
    text-align: left;
    line-height: 40px;

}

.footer_awards_wrap{
    width: 100%;
    background: #282828;
   
    position: relative;
    bottom: 20%;
}

.footer_awards_slider{
    display: flex;
    width: 100%;
}

.footer_awards_con{
    height: 80px;
}

/************** copyright *************/


.copyright_con{
    display: flex;
    align-items: center;
    height: 80px;
}

.copy{
    margin: 0 auto;
  
    display: inline-flex;
}

.copy a{
    padding: 0 10px;
    display: block;
    color: #ccc;
    font-size: 12px;
    border-right: 1px solid #393939;
}

.last_a{
    border: none !important;
}
.link_con{
    display: flex;
    height: 60px;
   
}

.link{
    display: inline-flex;
    margin: 0 auto;
    
}
.link a{
    color: #eee;
    font-size: 12px;
    width: 114px;
    height: 34px;
    line-height: 30px;
    border: 2px solid #eee;
    border-radius: 3px;
    margin-right: 8px;

}

.copy_menu{
    text-align: center;
    height: 30px;
}
.copy_list{
    display: inline-flex;
}

.copy_list li{
    padding: 0 10px;
}

.copy_list a{
    color: #ccc;
    font-size: 12px;
}

.en_wrap{
    text-align: center;
    height: 60px;
}

.en{
    color: #ccc;
    font-size: 12px;
}

